<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinity.omos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_omos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_omos_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OMOS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.setting.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.ChangePwActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.setting.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MyLikeRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MyScrapRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".InputLyricsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WriteLyricsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".DetailRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MusicRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".DjActivity"
            android:exported="false"
            android:theme="@style/StatusBarStyle" />

        <receiver
            android:name=".utils.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WriteRecordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.RegisterNickActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/MainStatusBarStyle" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_OAUTH_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 외부 저장소 사용을 위한 FileProvider auth 추가. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.infinity.omos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>